<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <center>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Predicted value of house Price</h5>
          <h6 class="card-subtitle mb-2 text-muted">Boston house price</h6>
          <p class="card-text">
            Predicted value is: {{prediction}}$
            <br />
            <br />
            Predicted value range at confidence {{confidence}}% is:<br /><br />
            lowest possible value:{{prediction_low}}$<br /><br />
            Highest possible value: {{prediction_high}}$
          </p>
        </div>
      </div>
    </center>
  </body>
</html>
